# Server Configuration
PORT=6001
NODE_ENV=production
JWT_SECRET=your_jwt_secret_key_here

# MongoDB Connection String (Atlas or Local instance)
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/reversal?retryWrites=true&w=majority
